#progress-bar {
    background-color: var(--white);
    border: var(--border-width-thick) solid var(--black);
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    flex: 1 1 8rem;
    min-width: 0;
    width: 100%;
    height: var(--space-md);
}

#progress-bar::-webkit-progress-bar {
    background-color: var(--white);
    border-radius: 0;
}

#progress-bar::-webkit-progress-value,
#progress-bar::-moz-progress-bar {
    animation: progress-animation 1.2s linear infinite;
    background-color: var(--black);
    border-radius: 0;
    transform-origin: 0 0;
}

.progress-fallback {
    display: none;
    background-color: var(--white);
    border: var(--border-width-thick) solid var(--black);
    height: var(--space-md);
    overflow: hidden;
    flex: 1 1 8rem;
    min-width: 0;
    width: 100%;
}

.progress-fallback>span {
    display: block;
    height: 100%;
    width: 40%;
    background-color: var(--black);
    animation: progress-animation 1.2s linear infinite;
    transform: translateX(-100%);
}

progress:indeterminate {
    display: none;
}

progress:indeterminate+.progress-fallback {
    display: block;
}