    <main class="container auth-container">
        <h1 class="auth-title">create account</h1>

        <form id="auth-form" class="auth-form">
            <div class="form-row">
                <label for="email">email:</label>
                <input type="email" id="email" required>
            </div>
            <div class="form-row">
                <label for="password">password:</label>
                <input type="password" id="password" required>
            </div>
            <button type="submit" class="auth-button">register</button>
            <a href="/login" data-link class="auth-switch-link">login</a>
        </form>
    </main>