<main class="container auth-container">
    <h1 class="auth-title" data-i18n="register.title"></h1>
    <p id="auth-error" class="auth-error"></p>

    <form id="auth-form" class="auth-form">
        <div class="form-row">
            <label for="email" data-i18n="register.emailLabel"></label>
            <input type="email" id="email" required>
        </div>
        <div class="form-row">
            <label for="password" data-i18n="register.passwordLabel"></label>
            <input type="password" id="password" required>
        </div>
        <button type="submit" class="auth-button" data-i18n="register.submit"></button>
        <a href="/login" data-link class="auth-switch-link" data-i18n="register.switchToLogin"></a>
    </form>
</main>