<section class="file-card">
    <div class="file-card-inner">
        <header class="file-card-header">
            <span id="file-card-name" class="file-card-name" data-i18n="file.namePlaceholder"></span>
            <span class="file-card-date" data-i18n="file.datePlaceholder"></span>
        </header>

        <div class="file-card-body">
            <div class="file-card-snippet"></div>
        </div>
        <footer class="file-card-footer">
            <button id="file-card-expand" type="button" class="file-card-expand" data-i18n="file.expand"></button>
            <div class="file-buttons">
                <button id="delete-transcript" type="button" class="delete-button">
                    <img src="/img/delete.png" class="delete-icon">
                </button><button id="edit-transcript" type="button" class="edit-button">
                    <img src="/img/edit.png" class="edit-icon">
                </button><button id="download-transcript" type="button" class="download-button">
                    <img src="/img/download.png" class="download-icon">
                </button>
            </div>
        </footer>
    </div>
</section>