@keyframes progress-animation {
    0% {
        transform: translateX(-100%) scaleX(0.3);
    }

    50% {
        transform: translateX(20%) scaleX(0.7);
    }

    100% {
        transform: translateX(100%) scaleX(0.3);
    }
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}