@layer base, layout, components, utilities;

@import url("./tokens.css") layer(base);
@import url("./base.css") layer(base);
@import url("./typography.css") layer(base);

@import url("./layout.css") layer(layout);

@import url("./components/buttons.css") layer(components);
@import url("./components/cards.css") layer(components);
@import url("./components/forms.css") layer(components);
@import url("./components/navbar.css") layer(components);
@import url("./components/modal.css") layer(components);
@import url("./components/table.css") layer(components);
@import url("./components/progress.css") layer(components);

@import url("./utilities.css") layer(utilities);
@import url("./animations.css") layer(utilities);
