:root {
    --white: #fff;
    --black: #000;
    --grey: #ccc;

    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2.5rem;
    --space-2xl: 5rem;

    --border-width-thin: 2px;
    --border-width-thick: 3px;

    --font-size: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 2rem;
}