.file-card-expand {
    padding: 0;
    font-size: var(--font-size);
    border: none;
    background: transparent;
    cursor: pointer;
}

.file-buttons>* {
    padding: 0;
    font-size: var(--font-size);
    border: none;
    background: transparent;
    cursor: pointer;
}

.file-buttons>* {
    width: var(--space-xl);
    height: var(--space-xl);
    display: inline-block;
}

.file-buttons img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.load-more-btn {
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.auth-error {
  display: none;
  margin-top: 0;
  font-size: var(--font-size);
}

#usage-back-button {
    padding-bottom: var(--space-xl);
}

.auth-switch-link {
    margin-top: var(--space-xs);
    text-align: center;
}